#page-dashboard main {
  margin-left: 102px;
  padding: 60px 100px;
}

#page-dashboard .page-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D3E2E5;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

#page-dashboard .orphanages-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
}

#page-dashboard .orphanage {
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  overflow: hidden;
  background: #FFF;
}

#page-dashboard .orphanage-map {
  width: 100%;
  height: 230px;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
}

#page-dashboard .orphanage-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#page-dashboard .orphanage-buttons {
  display: flex;
}

#page-dashboard .orphanage-buttons a {
  width: 48px;
  height: 48px;
  background: #EBF2F5;
  border: none;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-dashboard .orphanage-buttons a:not(:last-of-type) {
  margin-right: 8px;
}