#page-loading {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-loading .content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}